apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-k8s
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hello-k8s
  template:
    metadata:
      labels:
        app: hello-k8s
    spec:
      containers:
        - name: hello-k8s
          image: vudong/k8s:1.0  # Image đã được push lên Docker Hub
          ports:
            - containerPort: 9800  # Đã thay đổi từ 5000 sang 9800
---
apiVersion: v1
kind: Service
metadata:
  name: hello-k8s
  namespace: default
spec:
  ports:
    - port: 9800    # Đã thay đổi từ 80 sang 9800
      targetPort: 9800  # Đã thay đổi từ 5000 sang 9800
  selector:
    app: hello-k8s
