apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-k8s
  namespace: demo-01
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hello-k8s
  template:
    metadata:
      labels:
        app: hello-k8s
    spec:
      containers:
        - name: hello-k8s
          image: vudong/k8s:${GITHUB_SHA}
          ports:
            - containerPort: 5000
---
apiVersion: v1
kind: Service
metadata:
  name: hello-k8s
  namespace: demo-01
spec:
  selector:
    app: hello-k8s
  ports:
    - name: http
      port: 5000
      targetPort: 5000
      protocol: TCP
  type: LoadBalancer
