apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-k8s
  namespace: demo-01
spec:
  replicas: 2
  selector:
    matchLabels:
      app: hello-k8s
  template:
    metadata:
      labels:
        app: hello-k8s
    spec:
      containers:
        - name: hello-k8s
          image: vudong/k8s:1.3
          ports:
            - containerPort: 5000
---
apiVersion: v1
kind: Service
metadata:
  name: hello-k8s
  namespace: demo-01
spec:
  selector:
    app: hello-k8s
  ports:
    - name: http
      port: 5000
      targetPort: 5000
      protocol: TCP
  type: ClusterIP
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: hello-k8s
  namespace: demo-01
spec:
  ingressClassName: traefik
  rules:
  - host: hello.demo.local
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: hello-k8s
            port:
              number: 5000

